.footer__wrapper {
  @include flex-center();
  flex-direction: column;
  padding-bottom: 13rem;
  @include for-size(desktop-up){
    padding-bottom: 6rem;
  };
}

.footer__logo {
  margin-bottom: 4.4rem;
}

.footer__nav {
  margin-bottom: 2.8rem;
}

.footer-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer-nav__item{
  @include for-size(phone-landscape){
    margin-bottom: 1.5rem;
  }
}
.footer-nav__link, .footer__contact-text {
  @include font(21/18, 1.8rem, 400)
}

.footer__contact-text {
  margin-bottom: 3rem;
  text-align: center;
}

.footer__contact-text, .footer__mail {
  color: $additional-text;
}

.contact-link{
  border: 2px solid $main-text;
  color: $main-text;
  border-radius: 6px;
  display: inline-block;
  padding: 2rem 8.6rem;

}
