.title {
  @include font(75/64,6.4rem,400);
}
.title__description{
  @include font(1.4, 1.6rem, 400);
  margin-top: 2.6rem;
  &::after{
    content: '';
    display: block;
    background-color: $main-text;
    width: 1px;
    height: 60px;
    margin: 2.6rem auto 0 auto;
    @include for-size(phone-landscape){
      margin-top: 1.6rem;
    };
  }
}
.title,.title__description{
  text-align: center;
}
