.section-overview__wrapper{
  position: relative;
}

.overview__title {
  @include font(1.4, 2.4rem, 700);
  text-transform: uppercase;
  max-width: 23%;
  margin-bottom: 4.4rem;
  @include for-size(tablet-landscape){
    max-width: 30%;
  };
  @include for-size(tablet){
    max-width: 50%;
  };
  @include for-size(phone-only){
    max-width: 70%;
  };
}

.overview__table {
  margin-bottom: 21.8rem;
  @include for-size(tablet){
    margin-bottom: 10rem;
  };
}


.overview__data-name {
  text-transform: uppercase;
  padding-right: 13rem;
  @include for-size(desktop-up){
    padding-right: 10rem;
  };
  @include for-size(tablet-landscape){
    padding-right: 2rem;
  };
}

.overview__data-name {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.overview__data-name, .overview__data-value {
  @include font(1.8, 1.8rem, 400);
  @include for-size(phone-only){
    font-size: 1.9rem;
  };
}

.am-units {
  color: $secondary-text;
}

.overview__description {
  @include font(29/16, 1.6rem, 400);
  max-width: 490/1270*100%;
  margin-bottom: 13rem;
  @include for-size(desktop-up){
    max-width: 100%;
  };
}
.rocket{
  position: absolute;
  top: -60rem;
  right: 1.2rem;
  z-index: 10;
  @include for-size(desktop-up){
    width: 30rem;
  };
  @include for-size(tablet-landscape){
    width: 26rem;
  };
  @include for-size(tablet){
    width: 22rem;
  };
}
